@charset "UTF-8";
/*Helene Akulow*/

/*Für login, openingHours, profileEditForm, registerForm, legalNotice*/
.zentriert{
	max-width:1280px;
	display:inline-block; /*damit div nur so groß ist wie nötig*/
	position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
   /* background-color: yellow;*/
    text-align: left; /*damit der inhalt nicht durch outsidediv zentriert wird */
    
}

.outsidediv{ /*damit der innere div zentriert werden kann*/
	text-align: center;
}