/*Sara Viktoria Miller*/
 
.zentriert{
	max-width: 1000px; 
	position: relative; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 10px; 
}

form { 
	display:inline-block; 
	background: #005A9B; 
	max-width: 1000px; 
	border-radius: 5px; 
	padding: 2em; 
}

input{
	padding: 0.5em; 
	width: 24em;
	margin-right: auto; 
	border: none;  
	border-radius: 3px;
	background: #FFFFFF; 
	color: #005A9B;  
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 15px; 
	line-height: 15px; 
}

.upload-button {
	position: relative; 
	overflow: hidden; 
	display: inline-block; 
	padding: 1em; 
	width: 39em; 
    text-align: center; 
    color: #005A9B;  
    font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 13px; 
	line-height: 15px;
	border: none;  
	border-radius: 5px;
	background: #FFFFFF; 
}

.upload-button input[type=file]
{	
    position: absolute;
    opacity: 0; 
    filter: alpha(opacity=0);
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    min-height: 100%;
    min-width: 100%;
}

label{
	display: inline-block;  
	text-align: left; 
	min-width: 10em; 
	color: #FFFFFF; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 15px; 
	line-height: 15px; 
}


p{
	color: #005A9B; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 12px; 
	line-height: 13px; 
	text-align: center;
}
p a{
	text-decoration: none;
	color: #005A9B; 
}

h5{
	color: #FFFFFF; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 12px; 
	line-height: 13px; 
}

h1{
	color: #005A9B; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 25px; 
	line-height: 25px; 
	text-align: center;
}

h2{
	color: #005A9B; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 20px; 
	line-height: 20px; 
	text-align: center;
}

button{
	padding: 1em; 
	width: 41em; 
	border: none; 
	border-radius: 5px; 
	background: #FFFFFF; 
	color: #005A9B; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 13px; 
	line-height: 15px; 
}

input:invalid { 
    border: 2px solid #FF3633; 
    color: #FF3633; 
    content: " *"; 
}
input:invalid+span::after {
	color: red;
	content: " ✘";
}

textarea:invalid+span::after {
	color: red;
	content: " ✘";
}

input:valid+span::after {
	color: green;
	content: " ✔";
}

textarea:valid+span::after {
	color: green;
	content: " ✔";
}

input[type="checkbox"]{
			width: auto;
}

#fehlermeldung{
	color: red; 
}

.bild{
	display: inline-block;  
	text-align: left; 
	min-width: 10em; 
	color: #FFFFFF; 
	font-family: sans-serif; 
	font-weight: 300; 
	font-style: normal; 
	font-size: 15px; 
	line-height: 15px; 
}