@charset "UTF-8";
/*Helene Akulow*/

fieldset{	
	padding-top: 0.5em;
	padding-left: 1.5em;
	border: 1px solid #005A9B; 
	border-radius: 1em;
	padding-bottom: 1.5em;
}
legend{
	color: #005A9B;
	padding: 0.2em;
	font-size: 1.75em;
}

#loginform{
	width: 400px;
	text-align: center;
	margin-top: 40px;
	margin-bottom:40px;
	font-size: 1.2em;
	
}
label{
	min-width: 5em;
	display: inline-block;
	text-align: left;
}

input{
 width: 10em;
 margin-bottom: 0.5em;
}

input:hover{
	border: 2px solid #005A9B;
}
input[type="checkbox"]{ /*weil Checkboxen auch input-Felder sind, 
muss deren Ursprung wiederhergestellt werden*/
 width: auto;
 margin-left: auto;
 margin-top: 1em;
 
}

#fehlermeldung{
	color: red;	
}

button{
	width: 150px;
	margin: 10px;
	background: white;
	border: 1px solid #005A9B;
	margin-top:1.5em;
}
button:hover{
	background: #005A9B;
	color: white;
}

a:link{
	color: #005A9B;
}
a:visited{
	color: #005A9B;
}
