@charset "UTF-8";
/*Helene Akulow*/

div#flex {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	min-height: 550px;	
}

section {
	flex:1;
	margin: 1em;
	padding: 20px;
	border: 2px solid;	
	border-radius: 1em;	
	border-color: #005A9B;
	font-family: sans-serif;
	position: relative;
}

h1{
	text-align: center;
	margin-top: 0em;
	background: #e4e3f1;
	border-radius: 0.3em;
	padding: 0.3em;
}

.keineTermine{
	text-align: center;
	padding-top: 40px;
	font-size: 1.1em;
	font-style: italic;
}

.terminbez{
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
	
}
.deletewdhtermin{
	float: right;
	padding-right: 50px;
}

.deletewdhtermin, .deletelink{
	text-decoration: none; /*wird nicht unterstrichen usw*/
	color: #005A9B;
}

.hiddentable{
	display: none;
}
table{
	text-align: center;
	width: 100%;
}
th, td{
	padding: 3px 0px;
}
tr:nth-child(odd){/*ungerade Zeile */
	background:#efeef7;
}
/*
.bottom{
	position: absolute;
	bottom: 5px;
}
*/
.seitenlink{
	position: relative;
	text-align: center;
	
}
.seitenlink a{
	text-decoration: none; /*wird nicht unterstrichen usw*/
	color: #005A9B;text-decoration: none;
}

#back{
	left: 0;
	position: absolute;
}

#forward{
	right: 0;
	position: absolute;
}