/*Eduard Springer*/

div#flexarea {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

/* Flexbox*/
main {
	flex: 2;
	border-radius: 1em;
	border: 2px solid;
	padding: 10px;
	margin: 10px;
	margin-top: 1em;
	border-color: #005A9B;
/* 	text-align: center; */
	font-family: sans-serif;
}

aside {
	background: white;
	flex: 1;
	border-radius: 1em;
	border: 2px solid;
	padding: 10px;
	margin: 10px;
	margin-top: 1em;
	border-color: grey;
	text-align: center;
	font-family: sans-serif;
}

/* Style für main*/
#auswahl{
	text-align: right;
	padding: 10px;
	background: #e4e3f1;
	border-radius: 10px;
}

#datum, #zeitraum{
	font-size: 1.0em;
	font-family: sans-serif;
}

select{
	cursor: pointer;
}

label{
	font-size: 1.2em;	
	min-width: 5em;
	display: inline-block;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

#platzverteilung{
	padding-top: 10px;
	margin-left: 25px;
	margin-right: 10px;
}

#gruen:hover {
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

#gruen:focus{
	color: white;
	background: #005A9B;
	cursor: auto;
}

#gruen{
	font-family: sans-serif;
	background-color: #4CAF50;
	width: 42px;
	height: 42px;
	margin-left: 7px;
	color: black;
}

#grau{
	background: white;
	width: 42px;
	height: 42px;
	color: white;
	margin-left: 7px;
	background-color: white;
	border: 0;
}

#rot{
	font-family: sans-serif;
	background-color: red;
	width: 42px;
	height: 42px;
	margin-left: 7px;
	color: black;
}

noscript{
	font-family: sans-serif;
	color: red;	
}

/* Style für aside*/
h1{
	margin-top: 0em;
	background: #e4e3f1;
	border-radius: 0.3em;
	padding: 0.3em;
}

#selectedNr{
	margin-top: 2em;
}

#platznr{
	color: #005A9B;
	font-size: 1.1em;
	margin-right: 1em;
}

#unsichtbaresElement{
	visibility: hidden;
}

#unsichtbaresElement output{
	visibility: visible;
}

#termintyp{
	margin-top: 2em;
	font-size: 1.1em;
}

#termineingrenzung{
	display: inline-flex;
	margin-top: 1em;
}

#terminname{
	margin-top: 2em;
}

#terminbezeichnung{
	min-width: 12em;
}

#terminname label[for=terminbezeichnung]{
	font-size: 1.02em;
}

#termineingrenzung label[for=vom]{
	font-size: 1em;
	min-width: 0em;
	margin-right: 0.4em;
}

#termineingrenzung label[for=bis]{
	font-size: 1em;
	min-width: 2em;
	margin-right: 0.4em;
}

#actionbuttons{
	margin-top: 2.9em;
}

#dauer{
	font-size: 1.02em;
	text-align: left;
	margin-left: 2.6em;
	visibility: hidden;
}

button[type=submit], button[type=reset]{
	font-size: 1.0em;
	height: 2em;
	width: 10em;
	color: #005A9B;
	background: white;
	border: 1px solid #005A9B;
}

button[type=reset]{
	margin-right: 1.6em;
	color: black;
}

button[type="submit"]:hover, button[type="reset"]:hover {
	background: #e4e3f1;
}

button[type="submit"]:active, button[type="reset"]:active {
	background: white;
}

/*Style für Input-Felder*/
input:hover{
	border: 2px solid #005A9B;
}
