/*Eduard Springer*/

div#flexarea {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

/* Flexbox*/
main {
	flex: 2;
	border-radius: 1em;
	border: 2px solid;
	padding: 10px;
	margin: 10px;
	margin-top: 1em;
	border-color: #005A9B;
/* 	text-align: center; */
	font-family: sans-serif;
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
}

aside {
	background: white;
	flex: 1;
	border-radius: 1em;
	border: 2px solid;
	padding: 10px;
	margin: 10px;
	margin-top: 1em;
	border-color: grey;
	text-align: center;
	font-family: sans-serif;
}

/* Style */
#gruen:hover {
    color: black;
    border-color: #005A9B;
}

#gruen:focus{
	background: #005A9B;
}

#gruen{
	font-family: sans-serif;
	background-color: #4CAF50;
	width: 50px;
	height: 50px;
	margin-left: 3px;
	color: white;
}

#grau{
	background: white;
	width: 50px;
	height: 50px;
	color: white;
	margin-left: 3px;
	background-color: white;
	border: 0;
}